{% extends 'base.html.twig' %}

{# modification de chanson, nouvelle vue afin de ne pas afficher "ajouter chanson" en titre #}

{% block title %}Modifier la chanson{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier la chanson : {{ chanson.id }}</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}


    </div>
{% endblock %}
